In [1]:
import pandas as pd

In [2]:
#Dataframe des données avec les scores, Dataframe 
df_historical_data = pd.read_csv('fifa_euro_historical_data.csv')
df_fixture = pd.read_csv('fifa_euro_fixture.csv')
df_missing_data = pd.read_csv('fifa_euro_missing_data')

In [3]:
df_missing_data.drop(columns=['Unnamed: 0'])

          home  score        away  year
0     Portugal    1-1       Grèce  2004
1      Espagne    1-0      Russie  2004
2     Portugal    2-0      Russie  2004
3        Grèce    1-1     Espagne  2004
4     Portugal    1-0     Espagne  2004
..         ...    ...         ...   ...
67     Ukraine  2 - 1       Suède  2012
68     Ukraine  0 - 2      France  2012
69       Suède  2 - 3  Angleterre  2012
70  Angleterre  1 - 0     Ukraine  2012
71       Suède  2 - 0      France  2012

[72 rows x 4 columns]

In [4]:
df_historical_data = pd.concat([df_historical_data,df_missing_data])
df2 = df_historical_data.groupby('year').size()

In [5]:
df_historical_data = df_historical_data.drop(columns=['Unnamed: 0'])

# 1.1 Cleaning df_fixture

In [6]:
df_fixture['home'] = df_fixture['home'].str.strip()
df_fixture['away'] = df_fixture['away'].str.strip()

In [7]:
df_historical_data['home'] = df_historical_data['home'].str.strip()
df_historical_data['away'] = df_historical_data['away'].str.strip()

In [8]:
pd.set_option('display.max_rows',None)

In [9]:
df_historical_data['score'] = df_historical_data['score'].str.replace('-', '–')

In [10]:
df_historical_data['score'] = df_historical_data['score'].str.replace('[^\d–]', '', regex=True)

mask = df_historical_data['score'] == "1–11–3"
mask1 = df_historical_data['score'] == "0–04–2"

# Remplacer la ligne sélectionnée par "0-0"
df_historical_data.loc[mask, 'score'] = "1–1"
df_historical_data.loc[mask1, 'score'] = "0–0"

In [11]:
df_historical_data[['HomeGoals','AwayGoals']] = df_historical_data["score"].str.split("–",expand=True)
df_historical_data.drop('score',axis=1,inplace=True)
df_historical_data.rename(columns={'home' : 'HomeTeam', 'away' : 'AwayTeam','year' : 'Year'},inplace=True)
df_historical_data = df_historical_data.astype({'HomeGoals': int,'AwayGoals': int, 'Year': int})

In [12]:
#create new columns totalgoal
df_historical_data['TotalGoals'] = df_historical_data['HomeGoals'] + df_historical_data['AwayGoals']

In [13]:
team_mapping = {
    "Allemagne de l'Ouest": "Allemagne",
    "Allemagne2e groupe B": "Allemagne",
    "Croatie 1er groupe B": "Croatie",
    "Espagne 1er groupe D": "Espagne",
    "Italie2e groupe C": "Italie",
    "Pays-Bas 1er groupe C": "Pays-Bas",
    "Portugal 1er groupe A": "Portugal",
    "RF Yougoslavie": "Yougoslavie",
    "Russie2e groupe D": "Russie",
    "République d'Irlande": "Irlande",
    "Turquie2e groupe A": "Turquie",
}

df_historical_data['HomeTeam'] = df_historical_data['HomeTeam'].replace(team_mapping)
df_historical_data['AwayTeam'] = df_historical_data['AwayTeam'].replace(team_mapping)

# Exporting cleaning df

In [14]:
#df_fixture.to_csv('clean_fifa_euro_fixture.csv',index=False)
#import mitosheet 
#mitosheet.sheet(analysis_to_replay="id-dnhbbcbxwy")